target/
output/
cards/
images/
MissingImages.txt
cp.txt
*.class
server.log
src/main/resources/config/firebase_config.json

# OS and Editor metadata
.DS_Store
**/.DS_Store
.vscode/
.mvn/timing.properties

