target/
build/
.gradle/
output/
cards/
images/
gradingImages/
MissingImages.txt
cp.txt
*.class
*.jar
*.war
*.ear
server.log
*.log
src/main/resources/config/firebase_config.json

# Database Dumps
*.sql.dump
*.dump
*.sql

# OS and Editor metadata
.DS_Store
**/.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.vscode/
.junie/
.idea/workspace.xml
.idea/shelf/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/awsToolkit.xml
.mvn/timing.properties

