<link href="{{ROOT}}favicon/favicon.ico" rel="icon" sizes="32x32">
<link href="{{ROOT}}favicon/apple-touch-icon.png" rel="apple-touch-icon">
<link href="{{ROOT}}favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="{{ROOT}}favicon/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
<link href="{{ROOT}}favicon/favicon-194x194.png" rel="icon" type="image/png" sizes="194x194">
<link href="{{ROOT}}favicon/android-chrome-192x192.png" rel="icon" type="image/png" sizes="192x192">
<link href="{{ROOT}}favicon/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">