<nav class="detail-nav footer-nav-container">
    <div class="footer-buttons-container">
        <a href="{{ROOT}}index.html" class="modern-button modern-button-footer" title="Home">Home</a>
        <a href="{{ROOT}}Juwan-Howard-Collection.html" class="modern-button modern-button-footer" title="Juwan Howard PC">Juwan Howard PC</a>
        <a href="{{ROOT}}Baseball.html" class="modern-button modern-button-footer" title="Baseball Cards">Baseball</a>
        <a href="{{ROOT}}Flawless.html" class="modern-button modern-button-footer" title="Flawless Basketball Collection">Flawless</a>
        <a href="{{ROOT}}Wantlist.html" class="modern-button modern-button-footer" title="My Juwan Howard Wantlist">Wantlist</a>
        <a href="{{ROOT}}rainbows.html" class="modern-button modern-button-footer" title="Parallel Rainbow Tracker">Rainbow Tracker</a>
        <a href="{{ROOT}}binder.html" class="modern-button modern-button-footer" title="3D 9-Pocket Collector Binder">3D Binder</a>
        <a href="{{ROOT}}Panini.html" class="modern-button modern-button-footer" title="Panini Flawless Basketball Collection">Panini</a>
    </div>
</nav>
