
<H3>More from the Juwan Howard Collection</H3>
<section style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    <a href="{{ROOT}}Juwan-Howard-Collection.html" class="modern-button modern-button-footer" style="width: 300px;" title="Juwan Howard Private Collection" >Juwan Howard Private Collection</a>
    <a href="{{ROOT}}Wantlist.html" class="modern-button modern-button-footer" style="width: 300px;" title="Juwan Howard Wantlist">Juwan Howard Wantlist</a>
</section>

<footer class="detail-footer">
    Maulmann Trading Cards &copy; {{TIME}}
</footer>
