
<H3>More from the Juwan Howard Collection</H3>
<section class="footer-container">
    <a href="{{ROOT}}Juwan-Howard-Collection.html" class="modern-button modern-button-footer footer-button-fixed" title="Juwan Howard Private Collection" class="plain">Juwan Howard Private Collection</a>
    <a href="{{ROOT}}Wantlist.html" class="modern-button modern-button-footer footer-button-fixed" title="Juwan Howard Wantlist" class="plain">Juwan Howard Wantlist</a>
</section>

<footer class="detail-footer">
    Maulmann Trading Cards &copy; {{TIME}} | <a href="{{ROOT}}sitemap.html" title="HTML Sitemap" class="plain">Sitemap</a>
</footer>
