<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#317EFB">
<title>{{TITLE}}</title>
{{SEO}}

<link rel="preconnect" href="https://www.googletagmanager.com">
{{ANALYTICS}}
<link rel="preload" href="{{ROOT}}css/main.css" as="style">
<link href="{{ROOT}}css/main.css" rel="stylesheet" type="text/css">
{{FAVICON}}
{{OPENGRAPH}}
<link rel="manifest" href="{{ROOT}}manifest.json">