<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#317EFB">
<title>{{TITLE}}</title>
{{SEO}}
<link rel="preload" href="{{ROOT}}css/main.css" as="style">
<link href="{{ROOT}}css/main.css" rel="stylesheet" type="text/css">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://www.googletagmanager.com">
{{ANALYTICS}}
{{FAVICON}}
{{OPENGRAPH}}
<link rel="manifest" href="{{ROOT}}manifest.json">