<div class="topnav" id="myTopnav">
    <a href="{{ROOT}}index.html" {{ACTIVE_INDEX}}>Home</a>
    <a href="{{ROOT}}Juwan-Howard-Collection.html" {{ACTIVE_COLLECTION}}>Juwan Howard PC</a>
    <a href="{{ROOT}}Baseball.html" {{ACTIVE_BASEBALL}}>Baseball</a>
    <a href="{{ROOT}}Flawless.html" {{ACTIVE_FLAWLESS}}>Flawless</a>
    <a href="{{ROOT}}Wantlist.html" {{ACTIVE_WANTLIST}}>Wantlist</a>
    <a href="{{ROOT}}Panini.html" {{ACTIVE_PANINI}}>Panini</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
