<div class="topnav" id="myTopnav">
    <a href="{{ROOT}}index.html" {{ACTIVE_INDEX}} title="Home">Home</a>
    <a href="{{ROOT}}Juwan-Howard-Collection.html" {{ACTIVE_COLLECTION}} title="Juwan Howard Private Collection">Juwan Howard PC</a>
    <a href="{{ROOT}}Baseball.html" {{ACTIVE_BASEBALL}} title="Baseball Cards">Baseball</a>
    <a href="{{ROOT}}Flawless.html" {{ACTIVE_FLAWLESS}} title="Flawless Basketball Collection">Flawless</a>
    <a href="{{ROOT}}Wantlist.html" {{ACTIVE_WANTLIST}} title="My Juwan Howard Wantlist">Wantlist</a>
    <a href="{{ROOT}}Panini.html" {{ACTIVE_PANINI}} title="Panini Flawless Basketball Collection">Panini</a>
    <button class="icon" onclick="myFunction()" aria-label="Toggle navigation menu" style="background: none; border: none; padding: 0; cursor: pointer; color: inherit; font-size: inherit;">&#9776;</button>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
